<div class="p-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Park Adı</th>
            <th scope="col">Lokasyon</th>
            <th scope="col">Park Tipi</th>
            <th scope="col">Boş Kapasite</th>
            <th scope="col">İlçe</th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <th scope="row table-light">{{data.details.id}}</th>
            <td class="table-light">{{data.details.parkName}}</td>
            <td class="table-light">{{data.details.locationName}}</td>
            <td class="table-light">{{data.details.parkTypeDesc}}</td>
            <td class="table-light">{{data.details.capacity}}</td>
            <td class="table-light">{{data.details.countryName}}</td>
          </tr>
        </tbody>
      </table>
</div>
