.nav {
  min-height: 540px;
  border: 1px solid gray;
  border-radius: 20px;
  .nav-item {
    .nav-link{
      color: black;
      border: 1px solid gray;
      border-radius: 8px;
      &:hover{
        background: green;
        color: aliceblue;
      }
    }
  }
}
