::ng-deep{
    .detail-button{
    color: black;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
    &:hover{
        background-color: green;
    }
    }
}