<div class="p-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Adı</th>
            <th scope="col">Kapasitesi</th>
            <th scope="col">Park Tipi</th>
            <th scope="col">Boş Kapasite</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of carParkData">
          <tr>
            <th scope="row">{{item.id}}</th>
            <td class="table-light">{{item.kurumAdi}}</td>
            <td>{{item.kapasite}}</td>
            <td class="table-light">{{item.otoparkTuru}}</td>
            <td>{{item.kapasite - item.otoparkSayisi}}</td>
            <button class="btn btn-primary detail-button" (click)="openModal(item.details)">Detay</button>
          </tr>
        </tbody>
      </table>
</div>
